<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <springProperty scope="context" name="applicationName" source="spring.application.name"/>
  <springProperty scope="context" name="logstashHost" source="logstash.host"/>
  <springProperty scope="context" name="logstashPort" source="logstash.port"/>
  <property name="logback.path" value="target"/>
  <property name="logback.maxFileSize" value="10MB"/>
  <property name="logback.maxHistory" value="90"/>
  <property name="logback.level" value="INFO"/>
  <property name="logback.fileName" value="${applicationName}"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <FileNamePattern>${logback.path}/${logback.fileName}-info.%d{yyyy-MM-dd}.%i.log
      </FileNamePattern>
      <maxFileSize>${logback.maxFileSize}</maxFileSize>
      <maxHistory>${logback.maxHistory}</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
      <charset>UTF-8</charset>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>INFO</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <appender name="FILE_WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <FileNamePattern>${logback.path}/${logback.fileName}-warn.%d{yyyy-MM-dd}.%i.log
      </FileNamePattern>
      <maxFileSize>${logback.maxFileSize}</maxFileSize>
      <maxHistory>${logback.maxHistory}</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
      <charset>UTF-8</charset>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>WARN</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <FileNamePattern>${logback.path}/${logback.fileName}-error.%d{yyyy-MM-dd}.%i.log
      </FileNamePattern>
      <maxFileSize>${logback.maxFileSize}</maxFileSize>
      <maxHistory>${logback.maxHistory}</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
      <charset>UTF-8</charset>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
  </appender>

  <!--It will send your logs to logstash-->
  <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <param name="Encoding" value="UTF-8"/>
    <remoteHost>${logstashHost}</remoteHost>
    <port>${logstashPort}</port>
    <!-- encoder is required -->
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <customFields>{"applicationName":"${applicationName}","env":"${env}"}</customFields>
    </encoder>
  </appender>

  <root level="${logback.level}">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE_INFO"/>
    <appender-ref ref="FILE_WARN"/>
    <appender-ref ref="FILE_ERROR"/>
    <appender-ref ref="logstash"/>
  </root>

</configuration>